In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import requests
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv("laptops_4.csv")

In [3]:
df.shape

(984, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product name    984 non-null    object
 1   Price           984 non-null    object
 2   ratings         951 non-null    float64
 3   Features        984 non-null    object
 4   Page number     984 non-null    int64
 5   Original_price  976 non-null    object
 6   Discount        975 non-null    object
 7   Review          951 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 61.6+ KB

In [5]:
df.describe()

          ratings  Page number
count  951.000000   984.000000
mean     4.197266    21.000000
std      0.257667    11.838176
min      2.700000     1.000000
25%      4.100000    11.000000
50%      4.200000    21.000000
75%      4.400000    31.000000
max      5.000000    41.000000

In [6]:
df.head()

,product name,Price,ratings,Features,Page number,Original_price,Discount,Review
0,DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...,"₹38,990",4.3,AMD Ryzen 5 Hexa Core Processor16 GB DDR4 RAMW...,1,"₹56,919",31% off,"2,013 Ratings & 135 Reviews"
1,DELL 15 Intel Core i3 13th Gen 1305U - (16 GB/...,"₹38,990",4.2,Intel Core i3 Processor (13th Gen)16 GB DDR4 R...,1,"₹54,479",28% off,399 Ratings & 30 Reviews
2,Acer Aspire 3 Intel Celeron Dual Core - (8 GB/...,"₹15,990",3.8,Intel Celeron Dual Core Processor8 GB DDR4 RAM...,1,"₹32,990",51% off,"6,774 Ratings & 603 Reviews"
3,ASUS Expertbook P1 High-performance processor ...,"₹49,990",4.3,Intel Core i5 Processor (13th Gen)16 GB DDR5 R...,1,"₹89,990",44% off,"3,463 Ratings & 275 Reviews"
4,Lenovo Chromebook MediaTek Kompanio 520 - (4 G...,"₹12,990",3.9,MediaTek Kompanio 520 Processor4 GB LPDDR4X RA...,1,"₹28,690",54% off,"3,181 Ratings & 272 Reviews"

In [7]:
df.columns

Index(['product name', 'Price', 'ratings', 'Features', 'Page number',
       'Original_price', 'Discount', 'Review'],
      dtype='object')

In [8]:
df.isnull().sum()

product name       0
Price              0
ratings           33
Features           0
Page number        0
Original_price     8
Discount           9
Review            33
dtype: int64

In [9]:
df["ratings"].value_counts()

ratings
4.1    238
4.4    202
4.2    155
4.3    144
4.0     54
3.9     30
4.5     27
3.8     23
4.6     11
4.7     11
3.6     10
3.5      8
3.7      8
3.0      6
4.9      6
5.0      5
3.4      5
4.8      3
3.3      2
2.7      2
3.2      1
Name: count, dtype: int64

In [10]:
df["ratings"].mode()[0]

np.float64(4.1)

In [11]:
df['ratings'].fillna(df['ratings'].mode()[0], inplace=True)
df['Original_price'].fillna(df['Original_price'].mode()[0], inplace=True)
df['Discount'].fillna(df['Discount'].mode()[0], inplace=True)
df['Review'].fillna(df['Review'].mode()[0], inplace=True)

In [12]:
df.isnull().sum()

product name      0
Price             0
ratings           0
Features          0
Page number       0
Original_price    0
Discount          0
Review            0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(1)

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df['product name']

0      DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...
1      DELL 15 Intel Core i3 13th Gen 1305U - (16 GB/...
2      Acer Aspire 3 Intel Celeron Dual Core - (8 GB/...
3      ASUS Expertbook P1 High-performance processor ...
4      Lenovo Chromebook MediaTek Kompanio 520 - (4 G...
                             ...
979    ASUS X512FA Intel Core i3 10th Gen - (4 GB/512...
980    HP Laptop Intel Core i3 13th Gen 1315U - (8 GB...
981    DELL 15 Intel Core i3 13th Gen 1305U - (16 GB/...
982    HP Pavilion Intel Core i5 12th Gen 1240P - (8 ...
983    HP 255 G9 Silver AMD Ryzen 5 Hexa Core AMD Ryz...
Name: product name, Length: 983, dtype: object

In [17]:
df['Brand'] = df['product name'].apply(lambda x: re.findall(r"^\w+",x)[0])

In [18]:
df.head(1)

,product name,Price,ratings,Features,Page number,Original_price,Discount,Review,Brand
0,DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...,"₹38,990",4.3,AMD Ryzen 5 Hexa Core Processor16 GB DDR4 RAMW...,1,"₹56,919",31% off,"2,013 Ratings & 135 Reviews",DELL

In [19]:
df["Processor"] = df['Features'].apply(lambda x: re.findall(r"^\w+",x)[0])

In [20]:
df["Processor"].value_counts()

Processor
Intel         568
AMD           264
Qualcomm      128
Apple          13
MediaTek        8
Snapdragon      1
Processor       1
Name: count, dtype: int64

In [21]:
df.head(1)

,product name,Price,ratings,Features,Page number,Original_price,Discount,Review,Brand,Processor
0,DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...,"₹38,990",4.3,AMD Ryzen 5 Hexa Core Processor16 GB DDR4 RAMW...,1,"₹56,919",31% off,"2,013 Ratings & 135 Reviews",DELL,AMD

In [22]:
df['Ratings1'] = df['Review'].apply(lambda x: re.split(r"[&]",x)[0])

In [23]:
df["no_of_Ratings"] = df['Ratings1'].apply(lambda x: re.findall(r"[\d,]+",x)[0].replace(',','')).astype("int")

In [24]:
df['Reviews1'] = df['Review'].apply(lambda x: re.split(r"[&]",x)[1])

In [25]:
df["no_of_Reviews"] = df['Reviews1'].apply(lambda x: re.findall(r"[\d,]+",x)[0].replace(',','')).astype("int")

In [26]:
df.head(1)

,product name,Price,ratings,Features,Page number,Original_price,Discount,Review,Brand,Processor,Ratings1,no_of_Ratings,Reviews1,no_of_Reviews
0,DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...,"₹38,990",4.3,AMD Ryzen 5 Hexa Core Processor16 GB DDR4 RAMW...,1,"₹56,919",31% off,"2,013 Ratings & 135 Reviews",DELL,AMD,"2,013 Ratings",2013,135 Reviews,135

In [29]:
df['Price'] = df['Price'].apply(lambda x: re.sub(r"[₹,]","",x)).astype("int")
df['Original_price'] = df['Original_price'].apply(lambda x: re.sub(r"[₹,]","",x)).astype("int")

In [30]:
df["Features"][0]

'AMD Ryzen 5 Hexa Core Processor16 GB DDR4 RAMWindows 11 Operating System512 GB SSD39.62 cm (15.6 Inch) DisplayMy Dell (Dell Power Manager,Dell Support Assist)1 Year Onsite Warranty'

In [35]:
df["GB_List"] = df["Features"].apply(lambda x: re.findall(r"(\d+)\s*GB",x))

In [38]:
df["Ram"] = df["GB_List"].apply(lambda x: x[0] if len(x) > 0 else np.nan).astype('int')

In [43]:
df["Storage"] = df["GB_List"].apply(lambda x: x[1] if len(x) > 1 else np.nan)

In [45]:
df.head(1)

,product name,Price,ratings,Features,Page number,Original_price,Discount,Review,Brand,Processor,Ratings1,no_of_Ratings,Reviews1,no_of_Reviews,GB_List,Ram,Storage
0,DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...,38990,4.3,AMD Ryzen 5 Hexa Core Processor16 GB DDR4 RAMW...,1,56919,31% off,"2,013 Ratings & 135 Reviews",DELL,AMD,"2,013 Ratings",2013,135 Reviews,135,"[16, 512]",16,512

In [46]:
df.shape

(983, 17)

In [47]:
df.columns

Index(['product name', 'Price', 'ratings', 'Features', 'Page number',
       'Original_price', 'Discount', 'Review', 'Brand', 'Processor',
       'Ratings1', 'no_of_Ratings', 'Reviews1', 'no_of_Reviews', 'GB_List',
       'Ram', 'Storage'],
      dtype='object')

In [49]:
df.drop(columns=['product name', 'Features', 'Review', 'Ratings1', 'Reviews1', 'GB_List'], inplace=True)

In [50]:
df.columns

Index(['Price', 'ratings', 'Page number', 'Original_price', 'Discount',
       'Brand', 'Processor', 'no_of_Ratings', 'no_of_Reviews', 'Ram',
       'Storage'],
      dtype='object')

In [51]:
df

,Price,ratings,Page number,Original_price,Discount,Brand,Processor,no_of_Ratings,no_of_Reviews,Ram,Storage
0,38990,4.3,1,56919,31% off,DELL,AMD,2013,135,16,512
1,38990,4.2,1,54479,28% off,DELL,Intel,399,30,16,512
2,15990,3.8,1,32990,51% off,Acer,Intel,6774,603,8,128
3,49990,4.3,1,89990,44% off,ASUS,Intel,3463,275,16,512
4,12990,3.9,1,28690,54% off,Lenovo,MediaTek,3181,272,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
979,37899,4.4,41,40870,7% off,ASUS,Intel,851,154,4,512
980,35990,4.1,41,52115,30% off,HP,Intel,2057,125,8,512
981,38990,4.2,41,54479,28% off,DELL,Intel,399,30,16,512
982,58599,4.2,41,75494,22% off,HP,Intel,813,64,8,512
983,36990,4.1,41,54000,31% off,HP,AMD,249,19,8,512

In [54]:
df["Discount"] = df["Discount"].apply(lambda x: re.findall("[\d%]+", x)[0])

In [55]:
df

,Price,ratings,Page number,Original_price,Discount,Brand,Processor,no_of_Ratings,no_of_Reviews,Ram,Storage
0,38990,4.3,1,56919,31%,DELL,AMD,2013,135,16,512
1,38990,4.2,1,54479,28%,DELL,Intel,399,30,16,512
2,15990,3.8,1,32990,51%,Acer,Intel,6774,603,8,128
3,49990,4.3,1,89990,44%,ASUS,Intel,3463,275,16,512
4,12990,3.9,1,28690,54%,Lenovo,MediaTek,3181,272,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
979,37899,4.4,41,40870,7%,ASUS,Intel,851,154,4,512
980,35990,4.1,41,52115,30%,HP,Intel,2057,125,8,512
981,38990,4.2,41,54479,28%,DELL,Intel,399,30,16,512
982,58599,4.2,41,75494,22%,HP,Intel,813,64,8,512
983,36990,4.1,41,54000,31%,HP,AMD,249,19,8,512

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983 entries, 0 to 983
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           983 non-null    int64
 1   ratings         983 non-null    float64
 2   Page number     983 non-null    int64
 3   Original_price  983 non-null    int64
 4   Discount        983 non-null    object
 5   Brand           983 non-null    object
 6   Processor       983 non-null    object
 7   no_of_Ratings   983 non-null    int64
 8   no_of_Reviews   983 non-null    int64
 9   Ram             983 non-null    int64
 10  Storage         877 non-null    object
dtypes: float64(1), int64(6), object(4)
memory usage: 124.4+ KB

In [65]:
df['Storage'].fillna(df["Storage"].mode()[0],inplace=True)

In [71]:
df['Storage'] = df['Storage'].astype("int")

In [72]:
df.isnull().sum()

Price             0
ratings           0
Page number       0
Original_price    0
Discount          0
Brand             0
Processor         0
no_of_Ratings     0
no_of_Reviews     0
Ram               0
Storage           0
dtype: int64

In [73]:
df.duplicated().sum()

np.int64(0)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983 entries, 0 to 983
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           983 non-null    int64
 1   ratings         983 non-null    float64
 2   Page number     983 non-null    int64
 3   Original_price  983 non-null    int64
 4   Discount        983 non-null    object
 5   Brand           983 non-null    object
 6   Processor       983 non-null    object
 7   no_of_Ratings   983 non-null    int64
 8   no_of_Reviews   983 non-null    int64
 9   Ram             983 non-null    int64
 10  Storage         983 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 124.4+ KB

In [76]:
df.to_csv("cleaned_laptops_new.csv", index=False)

In [77]:
df = pd.read_csv("cleaned_laptops_new.csv")

In [78]:
df

,Price,ratings,Page number,Original_price,Discount,Brand,Processor,no_of_Ratings,no_of_Reviews,Ram,Storage
0,38990,4.3,1,56919,31%,DELL,AMD,2013,135,16,512
1,38990,4.2,1,54479,28%,DELL,Intel,399,30,16,512
2,15990,3.8,1,32990,51%,Acer,Intel,6774,603,8,128
3,49990,4.3,1,89990,44%,ASUS,Intel,3463,275,16,512
4,12990,3.9,1,28690,54%,Lenovo,MediaTek,3181,272,4,512
...,...,...,...,...,...,...,...,...,...,...,...
978,37899,4.4,41,40870,7%,ASUS,Intel,851,154,4,512
979,35990,4.1,41,52115,30%,HP,Intel,2057,125,8,512
980,38990,4.2,41,54479,28%,DELL,Intel,399,30,16,512
981,58599,4.2,41,75494,22%,HP,Intel,813,64,8,512
982,36990,4.1,41,54000,31%,HP,AMD,249,19,8,512